<form class="form" [formGroup]="form" (ngSubmit)="registrarLogin()">

  <mat-form-field class="form__input">
    <input matNativeControl placeholder="E-mail" type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matNativeControl placeholder="Senha" type="password" formControlName="password">
  </mat-form-field>

  <div class="form-actions">
    <button class="form-actions__login" mat-raised-button color="primary" type="submit">Confirmar</button>
    <button class="form-actions__forget" mat-button>Esqueceu a senha</button>
  </div>
  
</form>


