// 
@import "src/app/styles/colors";

.form {
  width: 100%;

  &__input {
    width: 100%;
    margin-top: -15px;
  }
}

.form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

  &__create {
    margin: 0;
    width: 95%;
    box-shadow: 0 0 11px 0 $shadow-white, 0 0 0 -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;
  }
}

