<h3>Editar artigo</h3>

<form [formGroup]="form">

  <div *ngIf="ocultarEditor; else editor">
    <mat-horizontal-stepper linear>
      <mat-step label="Cadastrar Secao">
        <app-secao></app-secao>
      </mat-step>

      <mat-step label="Cadastrar Tema">
        <app-tema></app-tema>
      </mat-step>

      <mat-step label="Cadastrar Artigo">
        <app-artigo (eventoExibirEditor)="exibirEditorArigo($event)"></app-artigo>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <ng-template #editor>
    <app-ckeditor></app-ckeditor>
  </ng-template>

  <button mat-raised-button color="primary" (click)="salvarEdicao()">Salvar edição</button>

</form>