<form>
    <mat-form-field>
        <mat-label>Cadastrar Seção</mat-label>
        <input matInput  placeholder="Insira um texto" [matAutocomplete]="auto" [formControl]="secaoFormControl">
        <mat-autocomplete  #auto="matAutocomplete" > <!--Inserir quando for lista de objetos: [displayWith]="displayName"-->
           <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
           <!-- <mat-option *ngFor="let option of objectOptions" [value]="option"> matNativeControl -->
            {{item}}
           </mat-option> 
        </mat-autocomplete>
    </mat-form-field>
</form>

