<div class="not-found-page">
  <div class="not-found-page__content">
    <div class="not-found-page__title">
      <h1 class="not-found-page__title-text">Erro</h1>
    </div>

    <mat-card class="not-found-page__card">
      <mat-card-content class="not-found-page__content">
        <h1 class="not-found-page__card-title">404</h1>

        <p class="not-found-page__card-sub-title">Oops. A página que você está procurando não existe</p>
        <p class="not-found-page__card-sub-title-second">Você pode voltar para a página inicial</p>

        <button class="not-found-page__card-button" mat-raised-button color="primary" [routerLink]="routes.DASHBOARD">Voltar a Home</button>

      </mat-card-content>
    </mat-card>
  </div>
</div>
