// mat-grid-list{
//     background-color: antiquewhite;
// }

// mat-grid-tile{
//     background-color: aqua;
// }

form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

mat-form-field{
    width: 100%;
}