  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Edição de artigo</mat-card-title>
      <!-- <mat-card-subtitle>Editar</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>

      <!-- <form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
        <div class="form-group has-feedback" 
              [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
          <ckeditor [(ngModel)]="mycontent" 
                    #myckeditor="ngModel"
                    name="myckeditor"
                    required
                    [config]="ckeConfig" 
                    debounce="500" 
                    (ngModelChange)="onChange($event)"
            >
          </ckeditor>
          <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
        </div>
        <button [disabled]="myForm.invalid" class="btn btn-primary">Save</button>
        </form> -->

        <form [formGroup]="ckEditorForm">
          <ckeditor [(ngModel)]="model.editorData" formControlName="conteudo"></ckeditor>
          <div [innerText]="ckEditorConteudo"></div>
        </form>

   
    </mat-card-content>

  </mat-card>