<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <mat-tab-group class="auth-page__group">
        <mat-tab label="Entrar">
          <h4 class="auth-page__group-title">Bem vindo!</h4>
          <p class="auth-page__group-sub-title">Insira seus dados</p>

          <app-login-form (sendLoginForm)="sendLoginForm($event)"></app-login-form>

          <div class="auth-page__border-wrapper">
            <div class="auth-page__border-line"></div>
            <p class="auth-page__border-title">ou</p>
            <div class="auth-page__border-line"></div>
          </div>

          <div class="auth-page__google-button-wrapper">
            <button mat-raised-button class="auth-page__google-button">
              <img class="auth-page__google-button-icon" src="./assets/auth/google.svg" alt="google">Acessar com o Google
            </button>
          </div>

        </mat-tab>
        <mat-tab label="Novo usuário">
          <h4 class="auth-page__group-title">Bem vindo!</h4>
          <p class="auth-page__group-sub-title">Castre um conta</p>

          <app-sign-form (sendSignForm)="sendSignForm($event)"></app-sign-form>

          <div class="auth-page__border-wrapper">
            <div class="auth-page__border-line"></div>
            <p class="auth-page__border-title">ou</p>
            <div class="auth-page__border-line"></div>
          </div>

          <div class="auth-page__google-button-wrapper">
            <button mat-raised-button class="auth-page__google-button">
              <img class="auth-page__google-button-icon" src="../../../../../assets/auth/google.svg" alt="google">Acessar com o Google
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <img class="auth-page__logo-img" src="../../../../../assets/logoCubo.png" alt="logo">
      <h6 class="auth-page__logo-title">Wiki FCVS</h6>
    </div>
  </div>
</div>
