<form class="form" [formGroup]="form" (ngSubmit)="registrarUsuario()">

  <mat-form-field class="form__input">
    <input matNativeControl placeholder="E-mail" type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matNativeControl placeholder="Senha" type="password" formControlName="password">
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matNativeControl placeholder="Confirmar senha" type="password" formControlName="confirmpassword">
  </mat-form-field>

  <div class="form-actions">
    <button class="form-actions__create" mat-raised-button color="primary" type="submit">Criar conta</button>
  </div>
  
</form>
